attrs==21.2.0
colorama==0.4.4
jsonschema==3.2.0
mando==0.6.4
mccabe==0.6.1
mypy==0.910
mypy-extensions==0.4.3
pycodestyle==2.7.0
pydocstyle==6.1.1
pyrsistent==0.18.0
radon==5.0.1
six==1.16.0
snowballstemmer==2.1.0
toml==0.10.2
typing-extensions==3.10.0.0
vulture==2.3
